<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.bitcoin.mapper.BlockMapper">
  <resultMap id="BaseResultMap" type="com.lzx.bitcoin.bean.Block">
    <id column="blockhash" jdbcType="CHAR" property="blockhash" />
    <result column="blockchain_id" jdbcType="INTEGER" property="blockchainId" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="tx_size" jdbcType="INTEGER" property="txSize" />
    <result column="size_on_disk" jdbcType="BIGINT" property="sizeOnDisk" />
    <result column="difficulty" jdbcType="DOUBLE" property="difficulty" />
    <result column="prev_blockhash" jdbcType="CHAR" property="prevBlockhash" />
    <result column="next_blockhash" jdbcType="CHAR" property="nextBlockhash" />
    <result column="output_total" jdbcType="DOUBLE" property="outputTotal" />
    <result column="transaction_fees" jdbcType="DOUBLE" property="transactionFees" />
    <result column="merkle_root" jdbcType="CHAR" property="merkleRoot" />
  </resultMap>


  <resultMap id="BlockDetailDTO" type="com.lzx.bitcoin.dto.BlockDetailDTO">
    <id column="blockhash" jdbcType="CHAR" property="blockhash" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="tx_size" jdbcType="INTEGER" property="txSize" />
    <result column="size_on_disk" jdbcType="BIGINT" property="sizeOnDisk" />
    <result column="difficulty" jdbcType="DOUBLE" property="difficulty" />
    <result column="prev_blockhash" jdbcType="CHAR" property="prevBlockhash" />
    <result column="next_blockhash" jdbcType="CHAR" property="nextBlockhash" />
    <result column="output_total" jdbcType="DOUBLE" property="outputTotal" />
    <result column="transaction_fees" jdbcType="DOUBLE" property="transactionFees" />
    <result column="merkle_root" jdbcType="CHAR" property="merkleRoot" />
  </resultMap>




  <resultMap id="BlockListDTO" type="com.lzx.bitcoin.dto.BlockListDTO">
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="tx_size" jdbcType="INTEGER" property="txSize" />
    <result column="size_on_disk" jdbcType="BIGINT" property="sizeOnDisk" />
  </resultMap>

  <insert id="insert" parameterType="com.lzx.bitcoin.bean.Block">
    insert into block (blockhash, blockchain_id, height,
      time, tx_size, size_on_disk,
      difficulty, prev_blockhash, next_blockhash,
      output_total, transaction_fees, merkle_root
      )
    values (#{blockhash,jdbcType=CHAR}, #{blockchainId,jdbcType=INTEGER}, #{height,jdbcType=INTEGER},
      #{time,jdbcType=TIMESTAMP}, #{txSize,jdbcType=INTEGER}, #{sizeOnDisk,jdbcType=BIGINT},
      #{difficulty,jdbcType=DOUBLE}, #{prevBlockhash,jdbcType=CHAR}, #{nextBlockhash,jdbcType=CHAR},
      #{outputTotal,jdbcType=DOUBLE}, #{transactionFees,jdbcType=DOUBLE}, #{merkleRoot,jdbcType=CHAR}
      )
  </insert>




  <select id="getRecentBlocksById"  parameterType="java.lang.Integer" resultMap="BlockListDTO" >
      select height,time,tx_size,size_on_disk from block where blockchain_id=#{blockchainId}
  </select>

  <select id="getBlockDetailByHash"  parameterType="java.lang.String" resultMap="BlockDetailDTO" >
      select * from block where blockhash=#{blockhash}
  </select>

  <select id="getBlockDetailByHeight"  parameterType="java.lang.Integer" resultMap="BlockDetailDTO" >
      select * from block where height=#{blockheight}
  </select>

  <select id="getRecentBlocks"  parameterType="java.lang.Integer" resultMap="BlockListDTO" >
      select height,time,tx_size,size_on_disk from block
  </select>

</mapper>