<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.bitcoin.mapper.TransactionMapper">
  <resultMap id="BaseResultMap" type="com.lzx.bitcoin.bean.Transaction">
    <id column="txid" jdbcType="CHAR" property="txid" />
    <result column="txhash" jdbcType="CHAR" property="txhash" />
    <result column="blockhash" jdbcType="CHAR" property="blockhash" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="total_input" jdbcType="DOUBLE" property="totalInput" />
    <result column="total_output" jdbcType="DOUBLE" property="totalOutput" />
    <result column="fees" jdbcType="DOUBLE" property="fees" />
  </resultMap>

  <resultMap id="ImportStateDTO" type="com.lzx.bitcoin.dto.ImportStateDTO">
    <id column="txid" jdbcType="CHAR" property="txid" />
    <result column="txhash" jdbcType="CHAR" property="txhash" />
    <result column="blockhash" jdbcType="CHAR" property="blockhash" />
    <collection property="blockheight" column="blockhash" select="getheight"></collection>
  </resultMap>

  <resultMap id="TransactionInBlockDTO" type="com.lzx.bitcoin.dto.TransactionInBlockDTO">
    <id column="txid" jdbcType="CHAR" property="txid" />
    <result column="txhash" jdbcType="CHAR" property="txhash" />
    <result column="time" jdbcType="CHAR" property="tine" />
    <result column="size" jdbcType="BIGINT" property="size" />
  </resultMap>

  <resultMap id="TransactionInfoDTO" type="com.lzx.bitcoin.dto.TransactionInfoDTO">
    <id column="txid" jdbcType="CHAR" property="txid" />
    <result column="txhash" jdbcType="CHAR" property="txhash" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="total_input" jdbcType="DOUBLE" property="totalInput" />
    <result column="total_output" jdbcType="DOUBLE" property="totalOutput" />
    <result column="fees" jdbcType="DOUBLE" property="fees" />
  </resultMap>


  <insert id="insert" parameterType="com.lzx.bitcoin.bean.Transaction">
    insert into transaction (txid, txhash, blockhash,
      size, weight, time,
      total_input, total_output, fees
      )
    values (#{txid,jdbcType=CHAR}, #{txhash,jdbcType=CHAR}, #{blockhash,jdbcType=CHAR},
      #{size,jdbcType=BIGINT}, #{weight,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP},
      #{totalInput,jdbcType=DOUBLE}, #{totalOutput,jdbcType=DOUBLE}, #{fees,jdbcType=DOUBLE}
      )
  </insert>

  <select id="getImportState" resultMap="ImportStateDTO">
      select txid,txhash,blockhash from transaction
  </select>

  <select id="getheight" parameterType="java.lang.String" resultType="java.lang.Integer">
      select height from block where blockhash=#{blockhash}
  </select>

  <select id="getRecentTransactionsById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      
  </select>

  <select id="getTransactionInfoByTxid" parameterType="java.lang.String" resultMap="TransactionInfoDTO">
      select * from transaction where txid=#{txid}
  </select>

  <select id="getTransactionInfoByTxhash" parameterType="java.lang.String" resultMap="TransactionInfoDTO">
      select * from transaction where txhash=#{txhash}
  </select>

  <update id="truncate">
    truncate table transaction;
  </update>

  <select id="getTransaction" parameterType="java.lang.String" resultMap="BaseResultMap">
      select * from transaction where txid=#{txid}
  </select>


</mapper>